html, body {
    margin: 0;
    padding: 0;
  }
  canvas{
    border: 2px solid black;
  }

  .customInput {
  width:200px;
  height:30px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color:transparent;
  font-size: 20px;
  outline:none;
  color:white;
  font-family: vollkorn;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}


.greeting{
  font-size: 40px;
  color: white;
  font-family: vollkorn;
  text-align: center;
}
